@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 py-3">
  <div class="row m-auto">
    <div class="card text-center">
      <div class="card-header">
        Report
      </div>
      <div class="card-body">
        <h5 class="card-title">Duration</h5>
        <a asp-action="Report" asp-controller="Report" asp-route-reportType="Duration" class="btn btn-success">Go</a>
      </div>
      
    </div>
    <div class="card text-center">
      <div class="card-header">
        Report
      </div>
      <div class="card-body">
        <h5 class="card-title">Ratings</h5>
        <a asp-action="Report" asp-controller="Report" asp-route-reportType="Ratings" class="btn btn-success">Go</a>
      </div>
         
    </div>
    <div class="card text-center">
      <div class="card-header">
        Report
      </div>
      <div class="card-body">
        <h5 class="card-title">Tags</h5>
        <a asp-action="Report" asp-controller="Report" asp-route-reportType="Tags" class="btn btn-success">Go</a>
      </div>
          
    </div>
    <div class="card text-center">
      <div class="card-header">
        Report
      </div>
      <div class="card-body">
        <h5 class="card-title">Response Time</h5>
        <a asp-action="Report" asp-controller="Report" asp-route-reportType="ResponseTime" class="btn btn-success">Go</a>
      </div>
          
    </div>
     <div class="card text-center">
          <div class="card-header">
            Report
          </div>
          <div class="card-body">
            <h5 class="card-title">Total Chats</h5>
            <a asp-action="Report" asp-controller="Report" asp-route-reportType="TotalChats" class="btn btn-success">Go</a>
          </div>
          
        </div>
  </div>
</div>

@section Scripts {
  <script>
    document.getElementById("navBar").style.display = 'none';
  </script>
}